@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #FFF;
  margin: 0px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
}

.lists {
  /* -150 */
  margin-top:  -70px;
}

footer {
  margin: 40px;
  text-align: left;
  color: #a3a3a3;
  font-size: 15px;
  font-weight: 500;
}

a {
  color: #FFF
}
.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: flex;
  animation-delay: 3s;
  margin: -50px;
  padding: 200px;
}